<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
    <meta charset="utf-8">
    <title>Yolo TV</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/jquery/jquery.js"></script>
    <script src="../public/scripts/.js"></script>
   
  
</head>
<body>
    <h1>Yolo TV</h1>
    {{{body}}}

</body>
</html>
=======
  <head>
    <meta charset="utf-8">
    <title>yoloTv</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/jquery/jquery.js"></script>
    <script src="/scripts/click-event.js"></script>
  </head>
  <body>

    {{{body}}}

  </body>
</html>
>>>>>>> 5c9ee2a18f4976a9e25813c389c90c00a5db6933
