<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yolo TV</title>
    <link rel = "stylesheet" type = "text/css" href= "/styles/style.css">
    <script src="/jquery/jquery.js"></script>
    <script src="../public/scripts/.js"></script>


</head>
<body>
  <h2 class = "header">YoloTV</h3>
  <div class="searchBar">
      <input type="text" placeholder="Search..">
      <button class="buttons" type="button">Randomize</button>
  </div>

    {{{body}}}

</body>
</html>
