<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yolo TV</title>
    <link rel = "stylesheet" type = "text/css" href= "/styles/style.css">
    <script src="/jquery/jquery.js"></script>
    <script src="../public/scripts/.js"></script>


</head>
<body>
  <h2 class = "header">MEI, JOSEU, GINA..... "TEAM YOLO"</h3>


    {{{body}}}

</body>
</html>
