<div class="searchBar">
<form method="POST" action="/search">
  <input type="text" name="userInput" placeholder="Search for Show" required>
  <input type="Submit"></input>
</form>

  </div>

  <iframe class="tomJerry" width="150" height="150" src="https://www.youtube.com/embed/ljVDfgbSybA?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe class="rickMorty" width="150" height="150" src="https://www.youtube.com/embed/MAQnV3JrVpY?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe class="boondocks" width="150" height="150" src="https://www.youtube.com/embed/HQp0i4BKsOU?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe class="heman" width="150" height="150" src="https://www.youtube.com/embed/U_b0Clb2ICY?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe class="blacklist" width="150" height="150" src="https://www.youtube.com/embed/9KQDOiwhA60?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <iframe class="wwe" width="150" height="150" src="https://www.youtube.com/embed/wy76CVb0s7k?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
