html {
  background: url(./images/yoloTv.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Arial Narrow;
  text-decoration-color: "White";
}

.header {
    background-color: rgba(0,0,0,0.7);
    color: white;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.searchBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 84%;
    font-size: 17px;
    background-color: coral;
    border-radius: 12px;
}

.buttons {
    background-color: coral;
    font-size: 16px;
    position: relative;
    left: 92%;
    bottom: 35px;
    padding: 6px;
    border-radius: 12px;


}
